<div class="detail-section">
  <div class="container-fluid login-container">

    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()" class="login-form">

      <h2 class="login-title">Reset Password</h2>

      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="Enter email">
        <small *ngIf="changePasswordForm.controls['email'].touched && changePasswordForm.controls['email'].invalid"
          class="text-danger">
          Enter valid email
        </small>
      </div>

      <div class="input-group">
        <label>Old Password</label>
        <input type="password" formControlName="oldPassword" placeholder="Enter old password">

      </div>

      <div class="input-group">
        <label>New Password</label>
        <input type="password" placeholder="Enter new password" formControlName="newPassword">

      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        <input type="password" placeholder="Confirm new password" formControlName="confirmPassword">
      </div>

      <button class="login-btn">Update Password</button>

      <div class="login-links">
        <a routerLink="/login">Back to Login</a>
      </div>

    </form>

  </div>
</div>