<div class="detail-section">


  <h4>YOUR ORDERS</h4>
  <div *ngIf="userOrders == null" class="alert alert-warning col-md-12">

    <h3 style="text-align: center;">No order history,Its shopping time</h3>
  </div>

  <table class="table table-bordered table-responsive" *ngIf="userOrders != null">
    <thead>
      <th>Order-Date </th>
      <th>Order-Status</th>
      <th>Order-Tracking-Number</th>
      <th>Razorpay-Payment-Id</th>
      <th>Delivery-Date</th>
      <th>View-Order-Details</th>
      <th>Retry-Payment</th>
    </thead>
    <tbody *ngFor="let o of userOrders">
      <tr>
        <td>{{o.orderDate}}</td>
        <td>{{o.orderStatus}}</td>
        <td>{{o.orderTrackingNum}}</td>
        <td>{{o.razorpayPaymentId}}</td>
        <td>{{o.deliveryDate}}</td>

        <td><a routerLink="/order-details/{{o.orderId}}"
            *ngIf="o.orderStatus == 'PAID' || o.orderStatus == 'created'">{{o.orderStatus == "PAID" ? 'view order details':'complete payment'}}</a></td>



        <div *ngIf="o.orderStatus == 'created'">
          <td><button class="btn btn-warning" (click)="retryPayment(o.orderId)">Retry payment</button></td>
        </div>
        <div *ngIf="o.orderStatus == 'PAID'">
          <td><a href="{{o.invoiceUrl}}" target="_blank"><button class="btn btn-success">View Invoice</button> </a></td>
        </div>


      </tr>

    </tbody>
  </table>
</div>