<div class="detail-section">
  <h4>YOUR ORDERS</h4>
  <table class="table table-bordered table-responsive">
    <thead>
      <th>Order Traking num</th>
      <th>Total Price</th>
      <th>Total Quantity</th>
      <th>Date</th>
      <th>Order Status</th>
    </thead>
    <tbody>
      <tr>
        <td>321123123123</td>
        <td>4523</td>
        <td>4</td>
        <td>5-09-2020</td>
        <td><a href="#">view order details</a></td>
        <td><button class="btn btn-success" (click)="retryPayment(10)">Retry payment</button></td>
      </tr>
      <tr>
        <td>321123123123</td>
        <td>4523</td>
        <td>4</td>
        <td>5-09-2020</td>
        <td><a href="#">view order details</a></td>
      </tr>
    </tbody>
  </table>
</div>


