<div class="detail-section">
  <div class="container-fluid login-container">

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" class="login-form">

      <h2 class="login-title">Forgot Password</h2>

      <div class="input-group">
        <label>Email</label>
        <input type="email" placeholder="Enter your registered email">
        <small *ngIf="forgotPasswordForm.controls">


        </small>
      </div>

      <button class="login-btn">Reset Password</button>

      <div class="login-links">
        <a routerLink="/login">Back to Login</a>
      </div>

    </form>

  </div>
</div>